.backgroundAlt3 {
    display: flex;
    margin: 0 auto;
    height: 667px;
    width: 1024px;
    padding: 0;
}

.alt3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-Content: flex-start;
    padding-left: 46px;
}

.heading3Shell {
    width: 100%;
    margin-top: 68px;
}

.alt3 > div > h1 {
    width: 100%;
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-size: 32pt;
    margin-left: -18px;
    margin-bottom: 0;
    letter-spacing: -0.32px;
    line-height: 1.23;
    padding: 0;
}

.alt3 > div > h1 > span {
    margin-left: -10px;
    padding: 0;
}

.alt3 > div {
    display: flex;
    flex-direction: row;
}

.alt3 > div > div > div > h2 {
    font-family: 'Overpass', sans-serif;
    font-size: 20pt;
    letter-spacing: -0.3px;
}

.alt3 > div > div > div > p {
    margin-top: -15px;
    margin-left: 3px;
    line-height: 1.39;
    font-family: 'Source Sans Pro', sans-serif;
}

.imgAlt3 {
    width: 98px;
    margin-left: 0;
}

.alt3Content {
    display: flex;
    height: 400px;
    margin-top: 20px;
}

.alt3Content > div {
    width: 320px;
    padding-right: 30px;
}

.cssTextAlt3Sell {
    width: 215px;
}


@media (min-width: 320px) and (max-width: 980px) {
    .backgroundAlt3 {
        width: 768px;
    }

    .heading3Shell {
        margin-top: 55px;

    }

    .alt3 > div {
        display: flex;
        flex-direction: column;
    }

    .alt3 > div > h1 {

        letter-spacing: -0.32px;
        line-height: 1.2;
        padding: 0;
    }

    .alt3Content {
        margin-top: 5px;
    }

    .alt3Content > div {
        width: 100%;
        flex-direction: row;
        padding-right: 30px;
    }

    .infoCell {
        display: flex;
        flex-direction: row;
        padding-left: 43px;
        margin-bottom: 46px;
    }

    .imgAlt3 {
        width: 87px;
    }

    .alt3 > div > div > div > h2 {
        margin-top: -1px;
        margin-left: 35px;
        margin-bottom: 19px;
    }

    .alt3 > div > div > div > p {
        margin-left: 35px;
        margin-bottom: 0;
    }

    .textAl3Sell {
        width: 500px;
    }

    .cssTextAlt3Sell {
        width: 450px;
    }

}