.usersList {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 50px;
}

.UserListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*выравнивание кнопки*/
.alt5Button {
    display: flex;
    margin: -53px auto 0;
}
