.backgroundAlt2 {
    margin: 0 auto;
    display: flex;
    background-color: #ffffff;
    width: 1024px;
    height: 521px;
    padding: 0;
}

.alt2 {
    display: flex;
    flex-direction: column;
    width: 1024px;
}

.heading2Shell {
    display: flex;
    width: 100%;
    text-align: center;
    margin-top: 101px;

}

.heading2 {
    width: 100%;
    font-size: 263%;
}

.alt2Content {
    margin-top: -18px;
    flex-direction: row;
}

.manMobile {
    padding-top: 5px;
    margin-left: 48px;
    display: flex;
    width: 289px;
    height: 300px;
    position: absolute;
    z-index: 0;
}

.alt2Text {
    margin-left: 367px;
    padding-right: 30px;
    padding-top: 0;
}

.alt2Text h4 {
    font-size: 162%;
    margin-top: 22px;
    margin-bottom: 0;
}

p.p2 {
    font-size: 105%;
    letter-spacing: -0.32px;
    margin-top: 6px;
    line-height: 1.3;
}

p.p2:nth-child(3) {
    margin-top: 22px;
}

/*выравнивание кнопки */
.alt2Text > .buttonText {
    margin-top: 22px;
}
