.backgroundAlt1 {
    display: flex;
    height: 725px;
    width: 1024px;
    padding: 0;
    margin: 63px auto 0;
}

.art1 {
    padding: 91px 47px;
    color: #ffffff;
    text-align: justify;
}

h1 {
    width: 445px;
    font-size: 310%;
    line-height: 1.22;
    margin-left: -1px;
    margin-bottom: 0;
    font-family: 'Overpass', sans-serif;
}

p.art1Text {
    width: 440px;
    font-size: 126.5%;
    text-align: left;
    line-height: 1.30;
    letter-spacing: -0.1px;
    margin-bottom: 42px;
    margin-top: 18px;
}

.mobile {
    display: none;
}

