/*Desktop*/
@media (min-width: 1024px) {
    .backgroundAlt1 {
        background: url(../../media/imgs/bg-1_desktop.jpg) no-repeat center;
        background-size: 130% 123%;
        background-origin: border-box;
        background-position: 0px 0px;
    }
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
    .backgroundAlt1 {
        background: url(../../media/imgs/bg-1_tablet.jpg) no-repeat center;
        background-size: auto 623px;
        background-position: left;
        width: 768px;
        height: 623px;
    }

    .art1 {
        padding: 85px 23px;
    }

    h1.art1Text {
        font-size: 280%;
        line-height: 1.12;
        letter-spacing: -0.06ex;
        text-align: left;

    }

    p.art1Text {
        width: 400px;
        font-size: 115%;
        line-height: 1.35;
        margin-bottom: 33px;
        margin-top: 22px;
    }

    .buttonArt1 {
        margin-left: 2px;
    }

}


/*Mobile*/
@media (min-width: 320px) and (max-width: 768px) {
    .backgroundAlt1 {
        background: url(../../media/imgs/bg-1_mobile.jpg) no-repeat center;
        background-size: auto auto;
        background-position: -120px -5px;
        width: 320px;
        height: 395px;
    }

    .art1 {
        padding: 44px 21px;
        text-align: center;

    }

    h1.art1Text {
        font-size: 22pt;
        line-height: 1.16;
        margin-left: 5px;
        letter-spacing: 0.01ex;
        width: 266px;
        margin-bottom: 10px;
    }

    p.art1Text {
        width: 275px;
        font-size: 12pt;
        line-height: 1.42;
        letter-spacing: -0.01ex;
        margin-bottom: 36px;
        margin-top: 0;
        text-align: center;
    }

    .buttonArt1 {
        margin-left: -5px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}