*, *:before, *:after {
    box-sizing: border-box;
}

/*параметры Style guide*/
h1 {
    font-family: 'Overpass', sans-serif;
    /*font-size: 50pt;*/
    font-weight: 600;
}

h2 {
    font-family: 'Overpass', sans-serif;
    font-size: 42pt;
    font-weight: 600;
}

h3 {
    font-family: 'Overpass', sans-serif;
    font-size: 26pt;
    font-weight: 600;
}

h4 {
    font-family: 'Overpass', sans-serif;
    font-size: 22pt;
    font-weight: 600;
}

h5 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18pt;
    font-weight: 400;
}

p.p1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20pt;
    font-weight: 400;
}

p.p2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16pt;
    font-weight: 400;
}

p.p3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14pt;
    font-weight: 400;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*отображение шапки и ее содержимого*/
header {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    width: 1024px;
    height: 62px;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    background-color: #ffffff;
}

.logo {
    margin-top: 5px;
    width: 133px;
    height: 25px;
}

menu {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0;
    width: 49%;
    margin-left: 25px;
    margin-top: 12px;
}

.menu-item {
    display: flex;
    font-size: 12pt;
}

.menu-item a {
    text-decoration: none;
    color: black;
}


.menu-item a:hover {
    color: #ef6c00;
}

.user {
    width: 25%;
    display: flex;
    justify-content: space-between;
    margin-top: -2px;
}

.user-info {
    display: flex;
    text-align: right;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.user-name {
    font-size: 10pt;
}

.user-mail {
    font-size: 9pt;
    color: darkgray;
}

.avatar {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-top: 2px;
    margin-left: 2px;
}

.sing-out {
    display: flex;
}

.line-menu {
    display: none;
}

/*контент*/
article {
    display: flex;
    flex-direction: column;
}

/*Первая часть контента*/


.background-alt1 {
    display: flex;
    background: url(components/media/imgs/bg-1.jpg) no-repeat center;
    background-size: 130% 123%;
    background-origin: border-box;
    background-position: 0px 0px;
    height: 725px;
    width: 1024px;
    padding: 0;
    margin: 62px auto 0;
}
.art1 {
    padding: 100px 47px;
    color: #ffffff;
    text-align: justify;
}

h1.art1-txt {
    width: 445px;
    font-size: 310%;
    line-height: 1.22;
    /*letter-spacing: 0;*/
    margin-bottom: -2px;
    margin-left: -1px;
}

p.art1-txt {
    width: 440px;
    font-size: 126.5%;
    text-align: left;
    line-height: 1.30;
    letter-spacing: -0.1px;
    margin-bottom: 38px;
}



/*Вторая часть контента*/
.background-alt2 {
    margin: 0 auto;
    display: flex;
    background-color: #ffffff;
    width: 1024px;
    height: 521px;
    padding: 0;
}
.alt2 {
    display: flex;
    flex-direction: column ;
    width: 1024px;
}

.heading2-shell{
    display: flex;
    width: 100%;
    text-align: center;
    margin-top: 101px;

}

h2.heading2 {
    width: 100%;
    font-size: 263%;

}

.alt2-content {
    margin-top: -18px;
    flex-direction: row;
}

.man-mobile {
    padding-top: 5px;
    margin-left: 48px;
    display: flex;
    width: 289px;
    height: 300px;
    position: absolute;
    z-index: 0;
}

.alt2-text {
    margin-left: 367px;
    padding-right: 30px;
    padding-top: 0;
}

.alt2-text h4 {
    font-size: 162%;
    margin-top: 30px;
    margin-bottom: 0;
}

p.p2 {
    font-size: 105%;
    letter-spacing: -0.32px;
    margin-top: 8px;
    line-height: 1.3;
}

p.p2:nth-child(3) {
    margin-top: 22px;
}

/*выравнивание кнопки во втором параграфе*/
.alt2-text > .button-text {
    margin-top: 22px;

}



/*третья часть контента*/
.background-alt3 {
    display: flex;
    margin: 0 auto;
    height: 667px;
    width: 1024px;
    padding: 0;
}

.alt3 {
    width: 1024px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 46px;
}

.heading3-shell {
    width: 100%;
    margin-top: 70px;
}

.alt3 > div > h1 {
    width: 100%;
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-size: 32pt;
    margin-left: -18px;
    margin-bottom: 0;
    letter-spacing: -0.32px;
    line-height: 1.23;
    padding: 0;
}

.alt3 > div > h1 > span {
    margin-left: -10px;
    padding: 0;
}

.alt3 > div {
    display: flex;
    flex-direction: row;
}

.alt3 > div > div > h2 {
    font-family: 'Overpass', sans-serif;
    font-size: 20pt;
    letter-spacing: -0.3px;
}
.alt3 > div > div > p {
    margin-top: -15px;
    margin-left: 3px;
    line-height: 1.39;
    font-family: 'Source Sans Pro', sans-serif;
}

.img-alt3 {
    width: 98px;
    margin-left: 0;
}

.alt3-content {
    display: flex;
    height: 400px;
    margin-top: 20px;
}

.alt3-content > div {
    width: 320px;
    padding-right: 30px;
}



/*четвертая часть контента*/
.background-alt4 {
    display: flex;
    margin: 0 auto;
    height: 730px;
    width: 1024px;
    padding: 0;
    background: url(components/media/imgs/bg-2.jpg) no-repeat;
    background-size: 112% 104%;
    background-origin: border-box;
    background-position: 0px 0px;
    color: #ffffff;
}

.heading4-shell {
    text-align: center;
    margin-top: 138px;
    margin-left: 48px;
}
.heading4 {
    font-family: 'Overpass', sans-serif;
    font-size: 30pt;
    letter-spacing: 0.045ex;
}

.alt4-content {
    display: flex;
    flex-direction: row-reverse;

}

.man-laptop-v1 {
    display: flex;
    margin-top: 17px;
}

.man-laptop-v1 > img {
    width: 429px;
    height: 362px;
}

.alt4-text {
    margin-top: -14px;
    width: 450px;
    margin-left: 48px;
    margin-right: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.39;
    padding-top: 16px;
}
.paragraph4 {
    margin: 0 0 23px;
}

/*пятая часть контенкта*/
.background-alt5 {
    display: flex;
    margin: 0 auto;
    height: 800px;
    width: 1024px;
    padding: 0;
    background-color: #ffffff;
}

.alt5 {
    width: 1024px;
    flex-direction: column;

}
.headers5 {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 162px;
}

.headers5 > h1 {
    width: 100%;
    font-size: 263%;
    margin: 0;
}

.headers5 > h2 {
    width: 100%;
    font-size: 115%;
    letter-spacing: -0.07ex;
}

.users-list {
    margin-top: 42px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 50px;
}

.user-list-content {
    width: 320px;
    height: 220px;
}

.content-shell {
    display: flex;
    flex-direction: row;
}

.alt5-avatar-shell {
    width: 70px;
    height: 100%;
}

.alt5-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    object-fit: cover;
}


.alt5-content {
    display: flex;
    flex-direction: column;
    width: 220px;
}

.alt5-username {
    margin-top: 25px;
    margin-left: 5px;
    font-family: 'Overpass', sans-serif;
    font-size: 17pt;
    font-weight: bold;
    letter-spacing: -0.02ex;
}

.alt5-specialty {
    margin-top: 9px;
    margin-left: 6px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11pt;
    letter-spacing: -0.035ex;
    line-height: 1.2;
}

.alt5-mail {
    margin-top: 2px;
    margin-left: 6px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11pt;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: -0.035ex;

}

.alt5-phone {
    margin-top: 2px;
    margin-left: 6px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10.7pt;
    letter-spacing: -0.01ex;
}

/*выравнивание кнопки*/
.alt5-button {
    margin: -52px auto 0;
}

/*(регестрационные формы)пятая часть контенкта*/
.background-alt6 {
    display: flex;
    margin: 0 auto 20px;
    height: 667px;
    width: 1024px;
    padding: 0;
    background-color: #ffffff;
}

.alt6 {
    padding-left: 46px;
}

.headers6 {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 88px;
}

.headers6 > h1 {
    width: 100%;
    font-size: 263%;
    margin: 0;
    margin-left: -22px;
}

.headers6 > h4 {
    margin-top: 17px;
    margin-left: -24px;
    width: 100%;
    font-size: 100%;
    letter-spacing: 0.02ex;
}

.users-regist {
    margin-top: 33px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.users-regist > fieldset > input {
    border: none;
    width: 100%;
    margin-top: 1px;
    color: #D3D3D3;
}

.users-regist > fieldset > input:focus {
    border: none;
}

.users-regist > fieldset {
    width: 290px;
    height: 64px;
    padding-left: 14px;
    border: solid 1px #D3D3D3;
    border-radius: 3px;
}

.user-reg-mail {
    margin-left: 27px;
}

.user-reg-phone {
    margin-left: 27px;
}


.user-reg-position-shell {
    width: 450px;
    height: 55px;
    border: solid 1px #D3D3D3;
    padding-left: 20px;
    margin-right: 31px;
}

.user-reg-position-shell, .user-reg-photo {
    margin-top: 30px;
}

.user-reg-position {
    width: 410px;
    height: 100%;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    color: black;
    background: url("components/media/icons/caret-down.svg") no-repeat right #fff;
}

.font-legend {
    font-size: 10pt;
    color: #D3D3D3;
}

.font-legend-error {
    font-size: 10pt;
    color: red;
    margin-top: 20px;
    visibility: hidden;
}

/*инпут лого*/

.user-reg-photo {
    display: flex;
    flex-direction: row-reverse;
    width: 450px;
    height: 55px;
    border: solid 1px #D3D3D3;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label span {
    display: inline-block;
    width: 300px;
    height: 100%;
    font-size: 10pt;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    color: #D3D3D3;
    margin-left: 17px;
    margin-top: 17px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.inputfile + label strong {
    width: 127px;
    display: inline-block;
    height: 55px;
    font-size: 14pt;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ff6d00;
    letter-spacing: 0.12ex;
    text-align: center;
    padding: 1rem 1.25rem;
    border: solid 1.5px #ff6d00;
    margin-top: -1px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.users-regist > div, fieldset {
    display: inline-block;
    margin-bottom: 10px;
}

.comment-photo {
    margin-top: -15.5px;
    margin-left: 15px;
    color: #D3D3D3;
    font-size: 9.5pt;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: -0.035ex;
}


/*дно :)*/
footer {
    display: flex;
    flex-direction: column;
    width: 1024px;
    height: 315px;
    background-color: #283593;
    margin: -64px auto 100px;
    color: #ffffff;
}

.footer-menu-shell {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #ffffff;
    width: 100%;
    padding-top: 20px;
    height: 86px;
}

.footer-menu {
    display: flex;
    justify-content: flex-start;
    padding-inline-start: 0;
    margin-top: 13px;
    margin-left: 61px;
}

.footer-menu > li {
    margin-right: 29px;
    font-family: 'Overpass', sans-serif;
    font-size: 11pt;
}

.footer-menu-item a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 0 0 auto;
    font-size: 12pt;
    font-family: 'Source Sans Pro', sans-serif;
}

.footer-menu-item a:hover {
    color: #ef6c00;
}

.logo-block {
    margin-top: 10px;
    margin-left: 48px;
}


.footer-menu-item {
    display: flex;
    font-size: 12.5pt;
    margin-bottom: 12px;
}

.logo-block {
    width: 133px;
    height: 25px;
}

.contacts-link {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
}

.contacts {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 30px;
    margin-left: 49px;
}

.contacts > div {
    display: flex;
    height: 42px;
}

.contacts > div > span {
    font-size: 16pt;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: -0.055ex;
}

.footer-img-mail {
    margin-top: -21px;
    margin-right: 8px;
}

.contacts > div:nth-child(1) > span {
    margin-top: -3px;
}


.contacts > div:nth-child(2) > span {
    margin-top: -1px;
}

.footer-img-phone {
    margin-left: 1px;
    margin-top: -21px;
    margin-right: 11px;
}

.footer-img-mobile {
    margin-left: 3px;
    margin-top: -14px;
    margin-right: 14px;
}

.link1, .link2, .link3, .link4 {
    margin-top: 11px;
}

.link1 {
    margin-left: 52px;
}

.link2 {
    margin-left: 42px;
}

.link3 {
    margin-left: 52px;
}

.link4 {
    margin-left: 47px;
}

.social {
    display: flex;
    justify-content: space-between;
    margin: 0 48px;
}
.social > div {
    height: 60px;

}

.social-context {
    padding-top: 26px;
    font-size: 9pt;
    font-family: 'Source Sans Pro', sans-serif;
}

.social-icon > svg {
    margin-top: 17px;
    margin-left: 16px;
}


.social-icon:hover .hover-color-svg{
    fill: #ef6c00;
}




/*button*/
.button-primary {
    background-color: #ef6c00;
    width: 290px;
    height: 40px;
    border-radius: 3px;
    border: hidden;
    color: #ffffff;
    font-size: 14pt;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    letter-spacing: 0.12ex;
    padding-top: 9px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.button-primary:active {
    color: #ffffff;
    border: hidden;
    background-color: #ff6d00;
}

.button-secondary {
    background-color: #ffffff;
    width: 290px;
    height: 40px;
    border-radius: 3px;
    border: solid 2px #ff6d00;
    color: #ff6d00;
    font-size: 14pt;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    letter-spacing: 0.12ex;
    padding-top: 7px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.button-secondary:active {
    background-color: #D3D3D3;
}

.button-inactiv {
    background-color: #D3D3D3;
    width: 290px;
    height: 40px;
    border-radius: 3px;
    border: none;
    color: #696969;
    font-size: 14pt;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    letter-spacing: 0.12ex;
    padding-top: 7px;
    margin-left: 320px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.button-text {
    background-color: #ffffff;
    color: #ef6c00;
    border: hidden;
    font-size: 16pt;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.08ex;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
