.backgroundAlt4 {
    display: flex;
    margin: 0 auto;
    height: 755px;
    width: 1024px;
    padding: 0;
    color: #ffffff;
}

.heading4Shell {
    text-align: center;
    margin-top: 134px;
    margin-left: 48px;
}

.heading4 {
    font-family: 'Overpass', sans-serif;
    font-size: 30pt;
    letter-spacing: 0.045ex;
}

.alt4Content {
    display: flex;
    flex-direction: row-reverse;
}

.manLaptopV1 {
    margin-top: 6px;
}

.manLaptopV2 {
    display: none;
}

.manLaptopV1 > img {
    width: 429px;
    height: 362px;
}

.alt4Text {
    width: 450px;
    margin: -15px 50px 0 48px;
    padding-top: 16px;
}

.paragraph4 {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 0 23px;
    line-height: 1.35;
}