/*Desktop*/
@media (min-width: 1024px) and (max-width: 2048px) {
    .backgroundAlt4 {

        background: url(../../media/imgs/bg-2_desktop.jpg) no-repeat;
        background-size: 112% 104%;
        background-origin: border-box;
        background-position: 0 0;
    }
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
    .backgroundAlt4 {
        margin-top: 85px;
        width: 768px;
        height: 878px;
        background: url(../../media/imgs/bg-2_tablet.jpg) no-repeat;
        background-size: auto 878px;
    }

    .heading4Shell {
        width: 768px;
        padding: 0 150px;
        margin-left: 0;
        margin-top: 117px;
    }

    .alt4Content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
    }

    .heading4 {
        line-height: 1.2;
    }

    .alt4Text {
        padding-top: 0;
        width: 335px;
        margin: 0;
        line-height: 139%;

    }

    .paragraph4 {
        margin: 0 0 21px;
    }

    .manLaptopV1 {
        display: flex;
        margin-top: 0;
        margin-left: 0;

    }

    .manLaptopV1 > img {
        width: 360px;
        height: 360px;
    }


}

/*Mobile*/
@media (min-width: 320px) and (max-width: 768px) {
    .backgroundAlt4 {
        margin-top: 68px;
        background: url(../../media/imgs/bg-2_mobile.jpg) no-repeat;
        background-size: auto auto;
        background-position: 0 0;
        width: 320px;
        height: 1032px;
    }

    .heading4Shell {
        display: block;
        width: 320px;
        padding: 0 20px;
        margin-left: 0;
        margin-top: 66px;
    }

    .alt4Content {
        display: flex;
        flex-direction: column;
    }

    .manLaptopV1 {
        display: none;
    }

    .manLaptopV1 {
        display: block;
        width: 256px;
        margin-left: 15px;
        margin-top: -25px;
    }

    .heading4 {

        letter-spacing: -0.01ex;
        margin-bottom: 0;
        font-size: 20pt;
    }

    .alt4Text {
        padding: 0 18px;
        width: auto;
        margin: -51px 0 0 -2px;
    }

    .paragraph4 {
        line-height: 1.4;
        width: auto;
        text-align: center;
        font-size: 12pt;
        margin-bottom: 19px;
    }


}